html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
main {
  height: 90vmin;
  width: 90vmin;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 1.4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "PopsicleHead SpeechBubbleWrapper"
    "PopsicleStick SpeechBubbleWrapper";
}
.popsicleHead {
  grid-area: PopsicleHead;
  background-color: rgb(255, 0, 255);
  border-radius: 50% 50% 10% 10%;
  border-top: 2vmin solid rgb(247, 139, 247);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.popsicleStickWrapper {
  grid-area: PopsicleStick;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popsicleStick {
  background-color: rgb(184, 146, 19);
  border-radius: 0 0 4vmin 4vmin;
  width: 18%;
  height: 100%;
  border-top: 2vmin solid rgb(158, 125, 17);
}
.speechBubbleWrapper {
  grid-area: SpeechBubbleWrapper;
}
.tip {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.shine {
  background-color: rgb(247, 139, 247);
  border-radius: 50%;
  height: 30%;
  width: 30%;
  transform: rotate(60deg);
}
.forehead {
  height: 25%;
}
.eyes {
  height: 10%;
  display: flex;
  justify-content: center;
}
.eye {
  background-color: rgb(206, 8, 107);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eyeball {
  background-color: white;
  height: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateX(50%) translateY(-50%);
}
.eyes .space {
  width: 35%;
}
.cheeks {
  height: 10%;
  display: flex;
  justify-content: center;
}
.cheek {
  background-color: rgb(247, 139, 247);
  border-radius: 5vmin;
  width: 25%;
  height: 100%;
  transform: scale(0.75);
}
.cheeks .space {
  width: 40%;
}
.mouthWrapper {
  height: 10%;
  display: flex;
  justify-content: center;
}
.mouth {
  background-color: rgb(206, 8, 107);
  border-radius: 1vmin 1vmin 5vmin 5vmin;
  width: 30%;
  height: 100%;
  border-bottom: 0.5vmin solid rgb(247, 139, 247);
}
.chin {
  height: 15%;
}
.speechBubbleWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.bubble {
  background-color: white;
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vmin;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2vmin 10vmin 2vmin 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: rotate(-30deg) translateX(-40%);
  z-index: -1;
}
